<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs",{ title: 'AppJob' }) %>
    <!-- ../ pcq c'est dans la route /dashboard/:id donc c'est un étage en dessous -->
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <!-- rendre les valuers dynamiques -->
    <section class = "container1">
        <h3>&#x1F4BC; AppJob</h3>
        <div class="user-profile"><h3 class="fullname"></h3><a href="/profile" class="link-profile">My Profile</a><a href="/logout" class="link-profile"> Logout</a></div>
    </section>
    <section class="divtitle">
        <div><a href="/dashboard">Back to Dashboard</a></div>
        <div class="title job-title"><h2> <%= title %> </h2></div>
    </section>
    <section class="container2">
        <div class="divjobinfo">
            <form action="/updatejob" method="post">
                <input type="text" name="company" class="company" placeholder="<%= employer %>"><label for="Company: "></label>
                <input type="text" name="website" class="website" placeholder="<%= website %>"><label for="Website: "></label><br>
                <hr><br>
                <h4>Contact of the employer</h4><br>
                <input type="text" name="employersname" class="employersname" placeholder="<%= employer %>"><label for="Name: "></label>
                <input type="mail" name="emailemployer" class="emailemployer" placeholder="<%= email %>"><label for="Email: "></label>
                <input type="number" name="phone" class="phone" placeholder="<%= phone %>"><label for="Phone: "></label>
                <input type="text" name="comments" class="comments" placeholder="<%= address %>"><label for="Address: "></label>
                <hr><br>
                <h4> <%= origin %> </h4><br>
                <input type="text" name="status" class="status" placeholder="<%= status %>"><label for="Status: "></label>
                <input type="text" name="status" class="status" placeholder="<%= comments %>"><label for="Comments: "></label>
                <button type="submit" id="updatejob">Update</button>
            </form>
        </div>
    </section>
</body>
</html>
