<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs",{ title: 'AppJob' }) %>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <section class = "container1">
        <h3>&#x1F4BC; AppJob</h3>
        <div class="user-profile"><h3 class="fullname"></h3><a href="/profile" class="link-profile"></a><a href="/logout" class="link-profile"> Logout</a></div>
    </section>
    <div class="title"><h2>My Profile</h2></div>
    <section class="container2 profile">
        <div class="photo">
            <img src="<%= profilePicture %>" alt="Profile Photo" class="photo-profile">
        </div>
        <div class="divprofile"> 
            <!-- CHANGE HERE TO BE DYNAMIC -->
            <div class="fullname"><p>Full name: <%= fullname %>  </p></div> 
            <div class="email"><p>Email: <%= email %> </p></div>
            <div class="link"><p>GitHub: <%= github %> </p></div>
            <!-- fix me allow to download -->
            <form action="profile" method="get" class="form-profile">
                <button 
                id="download-cv">Download CV</button>
            </form>
            <button id="upload-cv">Upload new CV</button>
            <button id="change password">Change password</button>

            <form action="/profile" method="post" class="form-profile"> 
                <!-- mettre des input pour les nouveaux mdp et cv -->
                 <!-- type file et type text -->
                <button id="upload-cv">Upload new CV</button>
                <button id="change password">Change password</button>
               
                <!-- <input type="file" id="upload-cv"/> -->
                <!--our custom file upload button-->
                <!-- <label for="upload-cv">Upload new CV</label> -->

                <!-- <input type="text" id="change password"/> -->
                <!-- <label for="change password">Change password</label> -->

            </form>
        </div>
    </section>
    <!-- <script src="app.js"></script> -->
    <script>
        // function passwordCv() {
        
        //     document.getElementById("upload-cv").style.display = "none"; 
        // }
    </script>
</body>
</html>
